.nav-bar-wrapper {
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: flex-start;

    a {
        color: #FFF;
        text-decoration: none;
    }

    img {
        max-height: 5rem;
        border-radius: 0.5rem;
    }

    .nav-bar-links {
        gap: 1rem;
        display: flex;
    }
}
